<div class="footer">
	<div class="wrap">
		<div id="up">
			<a href="#"><img id="logo1" src="/img/btn_subir.png" alt="Logo1"/></a>
		</div>
		<div id="es_de">Regala una plaza es un proyecto de <a href="#">Charitybox</a> en conjunto con <a href="#">Digitales x Chile</a></div>
		<ul id="footer_menu">
			<li><a href="#">Equipo</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</div>
</div>		
